<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<div th:replace="admin/header :: header"></div>
<body>
<div th:replace="admin/header :: navbar"></div>
<div class="s-content content">
    <main class="row content__page">
        <section class="column large-full entry format-standard"
                 style="border: 1px solid #000000; background-color: #fff;">
            <div>
                <h1 class="text-center"> Create Post</h1>
            </div>
            <hr>
            <div>
                <form role="form" method="post" th:action="@{/admin/posts}" th:object="${post}">
                    <div>
                        <label for="title" style="font-size: 17px;"> Title </label>
                        <input
                            type="text"
                            class="full-width"
                            id="title"
                            placeholder="Enter post title"
                            name="title"
                            th:field="*{title}"
                        />
                        <p th:if="${#fields.hasErrors('title')}" class="text-danger"
                           th:errors="*{title}"></p>
                    </div>
                    <div>
                        <label for="title" style="font-size: 17px;"> Image Url </label>
                        <input
                            type="text"
                            class="full-width"
                            id="imageUrl"
                            placeholder="Enter image url"
                            name="title"
                            th:field="*{imageUrl}"
                        />
                        <p th:if="${#fields.hasErrors('title')}" class="text-danger"
                           th:errors="*{imageUrl}"></p>
                    </div>
                    <div>
                        <label for="shortDescription" style="font-size: 17px;">Short Description</label>
                        <textarea
                            class="full-width"
                            id="shortDescription"
                            placeholder="Enter post short description"
                            name="shortDescription"
                            rows="3" th:field="*{shortDescription}"></textarea>
                        <p th:if="${#fields.hasErrors('shortDescription')}" class="text-danger"
                           th:errors="*{shortDescription}"></p>
                    </div>
                    <div>
                        <label for="content" style="font-size: 17px;">Content</label>
                        <textarea
                            id="content"
                            placeholder="Enter post content"
                            rows="12"
                            name="content"
                            th:field="*{content}"
                        >
                        </textarea>
                        <p th:if="${#fields.hasErrors('content')}" class="text-danger"
                           th:errors="*{content}"></p>
                    </div>
                    <hr>
                    <label for="title" style="font-size: 17px;"> Category </label>
                    <div th:each="category : ${categories}">
                        <label style="font-size: 17px;">
                            <input type="radio" name="categoryId" th:value="${category.id}"/>
                            <span th:for="${'category_' + category.id}" th:text="${category.name}"></span>
                            <br/>
                        </label>
                    </div>
                    <br>
                    <button type="submit" class="btn--primary full-width">Submit</button>
                </form>
            </div>
        </section>
    </main>
</div>
<div th:replace="footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#content'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>
</body>
</html>
