<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
<footer class="s-footer" th:fragment="footer">
    <div class="row">
        <div class="column large-full footer__content">
            <div class="footer__copyright">
                <span>© Copyright Kosovita 2023</span>
                <span>Design by <a href="https://www.domacikolaci.net/">DomaciKolaci</a></span>
            </div>
        </div>
    </div>
    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>
</footer>
</body>
</html>
